# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# Editor swap files
*.swp 

# CMake
Plugins~/Build/Build/MeshSync**
Plugins~/Build/CMakeCache.txt
Plugins~/Build/CMakeFiles**
Plugins~/Build/CMakeScripts/**
Plugins~/Build/cmake_install.cmake
Plugins~/Build/Makefile
Plugins~/Build/MeshSync-**
Plugins~/Build/Blender-**
Plugins~/Build/blender-**
Plugins~/Build/Python-**
Plugins~/Build/mqsdk**
Plugins~/Build/ispc**
Plugins~/Build/*.xcodeproj/**
Plugins~/Build/ispc**
Plugins~/Build/*.vcxproj**
Plugins~/Build/*.sln
Plugins~/Build/Src**
Plugins~/Build/install_manifest.txt

# XCode
Plugins~/Build/MeshSyncDCCPlugin.build/**

# Visual Studio
Plugins~/Build/.vs
Plugins~/Build/x64
Plugins~/.vs
Plugins~/*.vcxproj**

# Symbolic links
Plugins~/MeshSyncClientMAYA_*
Plugins~/MeshSyncClientBLENDER_*
Plugins~/MeshSyncClient3DSMAX_*
Plugins~/MeshSyncClientMOTIONBUILDER_*
Plugins~/MeshSyncClientMQ_*

# Files to be distributed (Build results)
Dist/UnityMeshSync_**

# Sample Project
MeshSyncDCCPlugin~/Library/**
MeshSyncDCCPlugin~/*.sln
MeshSyncDCCPlugin~/Logs/**
MeshSyncDCCPlugin~/Temp/**


