# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# Editor swap files
*.swp 

# CMake
Build/Build/MeshSync**
Build/CMakeCache.txt
Build/CMakeFiles**
Build/CMakeScripts/**
Build/cmake_install.cmake
Build/MakeFile
Build/MeshSync-**
Build/Blender-**
Build/blender-**
Build/Python-**
Build/ispc**
Build/*.xcodeproj/**
Build/ispc**
Build/*.vcxproj**
Build/*.sln
Build/Src**
Build/install_manifest.txt

# XCode
Build/MeshSyncDCCPlugin.build/**

# Visual Studio
Build/.vs
Build/x64
Src/.vs
Src/*.vcxproj**

# Symbolic links
Src/MeshSyncClientMAYA_*
Src/MeshSyncClientBLENDER_*
Src/MeshSyncClient3DSMAX_*
Src/MeshSyncClientMOTIONBUILDER_*

# Files to be distributed (Build results)
Dist/UnityMeshSync_**
