# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# Editor swap files
*.swp 

# CMake
Plugins~/Build/Build/MeshSync**
Plugins~/Build/CMakeCache.txt
Plugins~/Build/CMakeFiles**
Plugins~/Build/CMakeScripts/**
Plugins~/Build/cmake_install.cmake
Plugins~/Build/Makefile
Plugins~/Build/MeshSync-**
Plugins~/Build/Blender-**
Plugins~/Build/blender-**
Plugins~/Build/Python-**
Plugins~/Build/mqsdk**
Plugins~/Build/ispc**
Plugins~/Build/*.xcodeproj/**
Plugins~/Build/ispc**
Plugins~/Build/*.vcxproj**
Plugins~/Build/*.sln
Plugins~/Build/Src**
Plugins~/Build/install_manifest.txt

# XCode
Plugins~/Build/MeshSyncDCCPlugins.build/**
Plugins~/Build/Build/*

# Visual Studio
Plugins~/Build/.vs
Plugins~/Build/x64
Plugins~/.vs
Plugins~/Src/.vs
Plugins~/Src/*.vcxproj**

# Symbolic links
Plugins~/Src/MeshSyncClientMAYA_*
Plugins~/Src/MeshSyncClientBLENDER_*
Plugins~/Src/MeshSyncClient3DSMAX_*
Plugins~/Src/MeshSyncClientMOTIONBUILDER_*
Plugins~/Src/MeshSyncClientMQ_*
Plugins~/Src/MeshSyncClientMODO_*

# Files to be distributed (Build results)
Plugins~/Dist/UnityMeshSync_**
Plugins~/Dist/meta.txt

# Sample Project
MeshSyncDCCPlugins~/Library/**
MeshSyncDCCPlugins~/*.sln
MeshSyncDCCPlugins~/*.csproj
MeshSyncDCCPlugins~/Logs/**
MeshSyncDCCPlugins~/Temp/**
MeshSyncDCCPlugins~/obj/**
MeshSyncDCCPlugins~/.vs
MeshSyncDCCPlugins~/UserSettings/**

# Rider
**/.idea/**
**/ProjectSettings/RiderScriptEditorPersistedState.asset